<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mansi.busezon">

    <!-- This xml is used to add read file permission from external storage such as sdcard -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="BuSeZon"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:name = ".AppController"
    >
        <!--android:name = ".AppController"-->
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeActivity"
            android:label="BuSezon"
            android:parentActivityName=".SELL_BUY">


            </activity>
        <activity
            android:name=".shoppingCart"
            android:label="Shopping Cart"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".ProductDesc"
            android:label=""
            android:parentActivityName=".SellHomepage" >
        </activity>

        <activity
            android:name=".SigningUpActivity"
            android:label="Signup" />
        <activity
            android:name=".WishlistActivity"
            android:label="WishList"
            android:parentActivityName=".profile_page" />
        <activity
            android:name=".ClothingPage"
            android:label="Clothing" />
        <activity
            android:name=".SellHomepage"
            android:label="Seller Home"
            android:parentActivityName=".SELL_BUY">

        </activity>
        <activity
            android:name=".ProductDescription"
            android:label="Product Description"
            android:parentActivityName=".SellHomepage" />

        <activity
            android:name=".SELL_BUY"
            android:label="Sell/buy">

        </activity>
        <activity
            android:name=".SELL"
            android:label="Sell" />
        <activity
            android:name=".BUY"
            android:label="Sell"
            android:parentActivityName=".SELL_BUY" >

        </activity>
        <activity
            android:name=".profile_page"
            android:label="Profile"
            android:parentActivityName=".SELL_BUY" />
        <activity
            android:name=".Add_product"
            android:label="Add new product"
            android:parentActivityName=".SellHomepage">

        </activity>
        <activity android:name=".GoogleSignInInformation"></activity>

        <!--<activity android:name="com.paytm.pgsdk.PaytmPGActivity"-->
            <!--android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|keyboard" />-->

        <activity android:name=".productDisplay"
            android:label=" ">

        </activity>

        <activity android:name=".Chat_Message_Acitivty"></activity>
        <activity android:name=".Chat_UsersList_Activity"></activity>
        <activity android:name=".PaypalConfirmationActivity"></activity>
    </application>

</manifest>